<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <script crossorigin="anonymous"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script crossorigin="anonymous"
          integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
          src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script crossorigin="anonymous"
          integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
          src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link crossorigin="anonymous"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        rel="stylesheet">
  <meta charset="UTF-8">
<body>

<div class="container-xl">
  <div class="row mb-5" th:replace="header"></div>
  <div class="row mb-3">
    <div class="col col-6">
      <a class="btn btn-dark" th:href="@{/users/add-form}">Add user</a>
    </div>
    <div class="col col-6">
      <form action="#" method="get" th:action="@{/users/search(userName)}">
        <div class="row">
          <div class="col col-4">
            <button class="btn btn-dark form-control" type="submit">Search</button>
          </div>
          <div class="col">
            <input class="form-control" name="userName" placeholder="Search by user name"
                   type="text">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Email</th>
          <th>Role</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempUser : ${users}">
          <td th:text="${tempUser.id}"/>
          <td th:text="${tempUser.userName}"/>
          <td th:text="${tempUser.email}"/>
          <td th:text="${tempUser.role}"/>
          <td><a class="btn btn-dark btn-sm"
                 th:href="@{/users/update-form(id=${tempUser.id})}">Update</a></td>
          <td><a class="btn btn-dark btn-sm"
                 th:href="@{/users/delete(id=${tempUser.id})}">Delete</a>
          </td>
          <td><a class="btn btn-dark btn-sm"
                 th:href="@{/users/users-card(id=${tempUser.id})}">Info</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</body>
</head></html>