<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <script crossorigin="anonymous"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script crossorigin="anonymous"
          integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
          src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script crossorigin="anonymous"
          integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
          src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link crossorigin="anonymous"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        rel="stylesheet">
  <meta charset="UTF-8">
  <style>.error {color: red}</style>
</head>
<body>
<div class="container-xl">
  <div class="row mb-5" th:replace="header"></div>
  <form action="#" method="post" th:action="@{/readers/save}" th:object="${reader}" >
    <input th:field="*{id}" type="hidden">
    <div class="row">
      <div class="col form-group">
        <input type="text" class="form-control" placeholder="First name" th:field="*{firstName}"/>
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="badge badge-danger"></span>
      </div>
      <div class="col form-group">
        <input class="form-control" placeholder="Last name" th:field="*{lastName}" type="text">
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="badge badge-danger"></span>
      </div>
    </div>
    <div class="row">
      <div class="col form-group">
        <input class="form-control" placeholder="Email" th:field="*{email}" type="text"/>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="badge badge-danger"></span>
      </div>
    </div>
    <div class="row">
      <div class="col form-group">
        <input class="form-control" placeholder="Phone number" th:field="*{phoneNumber}" type="text"/>
        <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="badge badge-danger"></span>
      </div>
    </div>
    <div class="row">
      <div class="col form-group">
        <input class="form-control" placeholder="Address" th:field="*{address.address}" type="text"/>
        <span th:if="${#fields.hasErrors('address.address')}" th:errors="*{address.address}" class="badge badge-danger"></span>
      </div>
    </div>
    <div class="row">
      <div class="col form-group">
        <input class="form-control" placeholder="City" th:field="*{address.city}" type="text">
        <span th:if="${#fields.hasErrors('address.city')}" th:errors="*{address.city}" class="badge badge-danger"></span>
      </div>
      <div class="col form-group">
        <input class="form-control" placeholder="County" th:field="*{address.county}" type="text">
      </div>
      <div class="col form-group">
        <input class="form-control" placeholder="Postcode" th:field="*{address.postCode}" type="text">
        <span th:if="${#fields.hasErrors('address.postCode')}" th:errors="*{address.postCode}" class="badge badge-danger"></span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a class="btn btn-secondary col-1" href="/readers/list">Back</a>
        <button class="btn btn-dark col-1" type="submit">Save</button>
      </div>
    </div>
  </form>
</div>
</div>
</div>
</body>
</html>