<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <script crossorigin="anonymous"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script crossorigin="anonymous"
          integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
          src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script crossorigin="anonymous"
          integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
          src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link crossorigin="anonymous"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        rel="stylesheet">
  <meta charset="UTF-8">
<body>
<div class="container-xl" th:object="${reader}">
  <div class="row mb-5" th:replace="header"></div>
  <div class="row mt-3">
    <div class="col-auto mr-auto">
      <p class="h4" th:text="@{*{firstName} + ' ' + *{lastName}}"/>
    </div>
    <div class="col-auto">
      <td><a class="btn btn-dark btn-sm" th:href="@{/readers/update-form(id=*{id})}">Edit</a>
      </td>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <p>Phone number: <span th:text="@{*{phoneNumber}}"></span></p>
      <p>Email: <span th:text="@{*{email}}"></span></p>
      <p>Address: <span th:text="@{*{address?.address}}"></span></p>
      <p>City: <span th:text="@{*{address?.city}}"></span></p>
      <p>County: <span th:text="@{*{address?.county}}"></span></p>
      <p>Post code: <span th:text="@{*{address?.postCode}}"></span></p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-auto mr-auto">
      <p class="h4">Borrowed Books</p>
    </div>
    <div class="col-auto">
      <a class="btn btn-dark btn-sm" th:href="@{/books/borrow(readerId=*{id})}">Borrow a book</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Description</th>
          <th>Author</th>
          <th>Release date</th>
          <th>Borrow date</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempBook : *{books}">
          <td th:text="${tempBook.id}"/>
          <td th:text="${tempBook.title}"/>
          <td th:text="${tempBook.description}"/>
          <td th:text="${tempBook.author}"/>
          <td th:text="${tempBook.releaseDate}"/>
          <td th:text="${tempBook.dateOfBorrowing}" />
          <td><a class="btn btn-dark btn-sm"
                 th:href="@{/readers/return-book(readerId=*{id}, bookId=${tempBook.id})}">Return</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</body>
</html>